.h-wrapper{
    display: flex;
    background: var(--primary-background);
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--text-color);
}
.btn{
    margin-top: 2rem;
}
.btn a{
    text-decoration: none;
}
.content>:nth-child(1)
{
    font-size: 2rem;
}
.content>:nth-child(2)
{
    font-size: 4rem;
}
.content>:nth-child(3)
{
    font-size: 2rem;
}
.para{
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.typed{
        color: var(--heading-text);
}
.images-container{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}
.image{
    border: .2rem solid var(--heading-text);
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    border-radius: 50%;
    color: var(--heading-text);
    background: transparent;
    cursor: pointer;
}
.image a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  
}
.image:hover{
    background: var(--border);
    transition: all 0.3s ease-in;
}
.image img{
    filter: invert(1);
}

/*For right container*/
.image-container{
        width: 28rem;
        height: 28rem;
        border: 10px solid var(--heading-text);
        border-radius: 50%;
}
.image-container img{
        height: 100%;
        object-fit: cover;
        width: 100%;
        border-radius: 50%;
}

@media screen and (max-width:1145px)
{
    .image-container{
        width: 22rem;
        height: 22rem;
    }
    .content>:nth-child(1)
    {
        font-size: 1.5rem;
    }
    .content>:nth-child(2)
    {
        font-size: 3rem;
    }
    .content>:nth-child(3)
    {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:840px)
{
    .h-wrapper{
        flex-direction: column-reverse;
    }
    .left{
        margin-top: 3rem;
    }
}
@media screen and (max-width:515px)
{
    
    .image-container{
        width: 18rem;
        height: 18rem;
    }
    .content{
        gap: 0.6rem;
    }
    .content>:nth-child(1)
    {
        font-size: 1.2rem;
    }
    .content>:nth-child(2)
    {
        font-size: 2rem;
    }
    .content>:nth-child(3)
    {
        font-size: 1.2rem;
    }
    .para{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:373px)
{
    .content>:nth-child(1)
    {
        font-size: 1rem;
    }
    .content>:nth-child(2)
    {
        font-size: 1.5rem;
    }
    .content>:nth-child(3)
    {
        font-size: 1rem;
    }
}