@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
    --primary-background : #0B0C10;
    --secondary-background : #1F2833;
    --text-color : #C5C6C7;
    --heading-text: #66FCF1;
    --border : #45A29E;
}
.primaryHeading{
  font-size: 6rem;
  color: var(--heading-text);
}
.section__padding{
  padding: 4rem 6rem;
}
         
@media screen and (max-width:550px)
{
  .section__padding{
    padding: 2rem 6rem;
  }
  .primaryHeading{
    font-size: 4rem;
  }
}